<div class="main">
    <div class="person">
        <input type="text" placeholder="Nombre 1" [(ngModel)]="colors[0].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[0].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 2" [(ngModel)]="colors[1].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[1].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 3" [(ngModel)]="colors[2].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[2].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 4" [(ngModel)]="colors[3].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[3].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 5" [(ngModel)]="colors[4].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[4].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 6" [(ngModel)]="colors[5].name"(ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[5].color"(ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 7" [(ngModel)]="colors[6].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[6].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 8" [(ngModel)]="colors[7].name"(ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[7].color" (ngModelChange)="inputChanged()">
    </div>
    <div class="person">
        <input type="text" placeholder="Nombre 9" [(ngModel)]="colors[8].name" (ngModelChange)="inputChanged()">
        <input type="color" [(ngModel)]="colors[8].color"(ngModelChange)="inputChanged()">
    </div>
</div>