<div class="grid-container">
  <div class="sq" [ngStyle]="{ 'background-color': colors[0].color }">
    <p class="name">{{ colors[0].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[1].color }">
    <p class="name">{{ colors[1].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[2].color }">
    <p class="name">{{ colors[2].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[3].color }">
    <p class="name">{{ colors[3].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[4].color }">
    <p class="name">{{ colors[4].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[5].color }">
    <p class="name">{{ colors[5].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[6].color }">
    <p class="name">{{ colors[6].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[7].color }">
    <p class="name">{{ colors[7].name }}</p>
  </div>
  <div class="sq" [ngStyle]="{ 'background-color': colors[8].color }">
    <p class="name">{{ colors[8].name }}</p>
  </div>
</div>
